.blog-section {
    width: 100%;
    height: auto;
    min-height: 80vh;

    &.active {
        background: $dark-primary-bg;
        color: $font-light;
    }
    .blog-heading {
        text-align: center;
    }
    .blog-body {
        text-align: center;
        padding: 0 $base-padding;
        margin-top: $base-margin * 2;

        img {
            width: 100%;
        }
    }
    div {
        text-align: justify;
        margin-top: $base_margin;
    }
}

@include breakpoint("md") {
    .blog-section {
        .blog-body {
            div {
                margin-top: $base_margin * 2;
            }
        }
    }
}

@include breakpoint("lg") {
    .blog-section {
        padding: 0;

        .blog-body {
            width: 100%;
            gap: $base-margin * 2;
            padding: 0 $base-padding * 4;
            padding-bottom: $base_padding * 3;

            img {
                width: 50%;
            }
        }
    }
}
