.container {
    width: 100%;
    max-width: 1400px;
    display: block;
    padding: 0;
    margin: 0 auto;
}

@include breakpoint("lg") {
    .container {
        padding: 0 $base-padding;
    }
}
