.navbar {
    width: auto;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    padding: $base-padding $base-padding * 1.2;
    box-shadow: 2px 2px 8px $dark-primary-bg, -2px -2px 8px $light-primary-bg;
    z-index: 1;
    background-color: $light-primary-bg;
    color: $font-dark;
    margin-bottom: 10px;

    &.active {
        background-color: $dark-primary-bg;
        color: $font-light;
        box-shadow: 2px 2px 8px $dark-bg-fade, -2px -2px 8px $dark-bg-fade;
    }
    &.hamview {
        right: auto;
        left: 0;
    }

    .hamburger-menu {
        position: absolute;
        left: 120%;
        top: 0;
        font-size: $base-font-lg;
    }

    .navbar-holder {
        width: 100%;
        height: 100%;
        @include flex-items(flex-start, flex-start);
        flex-direction: column;
        margin-top: 0.7rem;
    }
}

@include breakpoint("lg") {
    .navbar {
        width: 100%;
        height: 10vh;
        position: sticky;
        top: 0;
        left: 0;
        .navbar-holder {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 0;
        }
    }
}
